@import url("variables.css");

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
}

.back-to-login {
  margin-top: 1rem;
}

.back-to-login a {
  color: var(--primary-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-left: auto;
  justify-content: center;
  gap: 10px;
}

.back-to-login a:hover {
  text-decoration: underline;
}
